.ResultContainer {
  width: 400px;
  height: 400px;
  margin: 2rem;
  padding: 2rem;
  line-height: 2rem;
  background-color: #e6425e;
  overflow-y: scroll;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  ul {
    padding: 0 1.2rem;
  }
  .MuiSvgIcon-root {
    cursor: pointer;
  }
}

.ResultContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.Result__synonym {
  cursor: pointer;
  background-color: #e6425e;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  margin: 0.5rem;
  &:hover {
    color: #e6425e;
    background-color: #fff;
  }
}
