.ResultContainer {
  width: 400px;
  height: 400px;
  margin: 2rem;
  padding: 2rem;
  line-height: 2rem;
  background-color: #e6425e;
  overflow-y: scroll;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  ul {
    padding: 0 1.2rem;
  }
}

.ResultContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
